header, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 80px;
    cursor: pointer;
}



#lamp {
    cursor: pointer;
}



html {
    margin-top: 5rem;
}